<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Book Details</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- image column -->
            <div class="col-12 col-md-4 text-center text-md-right p-2">
                <img class="rounded" th:src="${book.coverUrl}" alt="${book.title}">
            </div>
            <!-- details column -->
            <div class="col-12 col-md-8">
                <!-- title row -->
                <div class="row mb-3">
                    <div class="col-12 col-md-3"><strong>Title</strong></div>
                    <div class="col-12 col-md-9"><span th:text="${book.title}"></span></div>
                </div>
                <!-- description row -->
                <div class="row mb-3">
                    <div class="col-12 col-md-3"><strong>Description</strong></div>
                    <div class="col-12 col-md-9"><span th:text="${#strings.isEmpty(book.description) ? 'Not provided' : book.description}" th:style="${#strings.isEmpty(book.description)} ? 'color: silver;'"></span></div>
                </div>
                <!-- excerpt row -->
                <div class="row mb-3">
                    <div class="col-12 col-md-3"><strong>Excerpt</strong></div>
                    <div class="col-12 col-md-9"><span th:text="${#strings.isEmpty(book.excerpt) ? 'Not provided' : book.excerpt}"  th:style="${#strings.isEmpty(book.excerpt)} ? 'color: silver;'"></span></div>
                </div>
                <!-- cached row -->
                <div class="row mb-3">
                    <div class="col-12 col-md-3"><strong>Cached</strong></div>
                    <div class="col-12 col-md-9"><span th:text="${book.cached}"></span></div>
                </div>

            </div>
            <!-- back button row -->
            <div class="row mb-5 justify-content-center text-center">
                <div class="col">
                    <a href="/">
                        <button class="btn btn-primary">
                            Back
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
