<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Book Details</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <img th:src="${book.coverUrl}" alt="${book.title}">
            </div>

            <div class="col">
                <table class="table table-borderless">
                    <tr>
                        <td>Title</td>
                        <td th:text="${book.title}"></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td th:text="${#strings.isEmpty(book.description) ? 'Not provided' : book.description}" th:style="${#strings.isEmpty(book.description)} ? 'color: silver;'"></td>
                    </tr>
                    <tr>
                        <td>Excerpt</td>
                        <td th:text="${#strings.isEmpty(book.excerpt) ? 'Not provided' : book.excerpt}"  th:style="${#strings.isEmpty(book.excerpt)} ? 'color: silver;'"></td>
                    </tr>
                    <tr>
                        <td>Cached</td>
                        <td th:text="${book.cached}"></td>
                    </tr>

                    <tr>
                        <td colspan="2" style="text-align:center">
                            <a href="/">
                                <button class="btn btn-primary">
                                    Back
                                </button>
                            </a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
